# Maven
target/
README.md
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
*~.lock

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.DS_Store

# Log files
*.log
hs_err_pid*.log
replay_*.log

# Temporary files
*.tmp

#
.md
