<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swaglabs eCommerce Suite">
  <test name="Authentication Test" enabled="false">
    <parameter name="username" value="standard_user"></parameter>
    <parameter name="password" value="secret_sauce"></parameter>
    <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"></parameter>

    <classes>
      <class name="com.juaracoding.ecom.AuthenticationTest"></class>
    </classes>
  </test>

  <test name="Inventory or Product Test" enabled="false">
    <parameter name="username" value="standard_user"></parameter>
    <parameter name="password" value="secret_sauce"></parameter>
    <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"></parameter>

    <classes>
      <class name="com.juaracoding.ecom.InventoryTest"></class>
    </classes>
  </test>

  <test name="Inventory or Product Test">
    <classes>
      <class name="com.juaracoding.ecom.DragDropTest"></class>
    </classes>
  </test>
</suite>